/* Home.css */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-left {
  animation: slideInLeft 1s ease-out;
}

.animate-right {
  animation: slideInRight 1s ease-out;
}

.skills-marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.skills-icons {
  display: flex;
  gap: 20px;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
  justify-content: center;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skills-icons svg {
  color: #d1d5db; 
}
/* Home.css */
.animate-left {
  animation: slideInLeft 1s ease-in-out;
}

.animate-right {
  animation: slideInRight 1s ease-in-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


